* {
   box-sizing: border-box;
}

.app {
   display: flex;

   flex-direction: column;

   justify-content: center;
   align-items: center;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   width: 500px;
   padding: 16px;
   border: 2px solid teal;
}
.myBtn {
   color: teal;
   padding: 5px 25px;
   font-size: 14px;
   background: transparent;
   border: 1px solid teal;
   cursor: pointer;
   margin: 15px 15px;
}
